/* 
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/
.heading-primary {
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  font-family: "Belleza", sans-serif;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--visited:visited {
  background-color: #f35f5f;
}

.btn--full:hover,
.btn--visited:active {
  background-color: #db5656;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container-md,
.container-sm {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-md {
  max-width: 120rem;
}

.container-sm {
  max-width: 100rem;
}

.grid {
  display: grid;
  gap: 8rem;
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/**********************/
/* HEADER */
/**********************/
.logo {
  height: 2.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edebe7;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/**********************/
/* NAVIGATION */
/**********************/
.main-nav,
#form {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 3.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #db5656;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.7rem 2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #f35f5f;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #db5656;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 20;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**********************/
/* HERO SECTION */
/**********************/

.section-hero {
  background-color: #edebe7;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**********************/
/* FEATURED PRODUCTS */
/**********************/
.product-img {
  width: 100%;
  margin-bottom: 2rem;
}

.featured-products,
.products-category {
  padding: 9.6rem 0;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card a {
  text-decoration: none;
  margin-top: auto;
}

.product-card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card__name,
.card__category {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.card__category {
  text-align: center;
}

.product-card__price {
  font-size: 1.5rem;
}

/**********************/
/* NEWSLETTER */
/**********************/

.newsletter {
  background-color: #170a01;
  padding: 9.6rem 0;
}

.signup-details {
  color: #fff;
  line-height: 2;
}

.newsletterForm {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem 2rem;
  width: 70%;
}

::placeholder {
  color: #333;
  font-size: 12px;
  opacity: 0.6;
}

.newsletterBtn {
  padding: 1.25rem 2rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 3px;
  background-color: #f35f5f;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.newsletterBtn:hover {
  background-color: #db5656;
}

.signup-details h2 {
  font-size: 2.4rem;
}

.signup-details p {
  font-size: 1.6rem;
}

.newsletter-thanks {
  font-size: 2rem;
}

/**********************/
/* FOOTER */
/**********************/
footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon,
.cart-icon {
  height: 2.8rem;
  width: 2.8rem;
}

.cart-icon {
  position: relative;
}

.cart a {
  color: #170a01;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/**********************/
/* PRODUCT PAGE */
/**********************/

.product-detail {
  max-width: 60rem;
  margin: auto;
  text-align: center;
}

.product-detail img {
  width: 50%;
  margin-bottom: 3.2rem;
}

.product-detail h1,
.products h1 {
  font-size: 3rem;
  margin: 3.2rem 0;
  line-height: 1.6;
}

#productFinalPrice {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.product__description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

#addToCart,
.submitBtn {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  background-color: #f35f5f;
  border: none;
  cursor: pointer;
  margin-bottom: 9.6rem;
}

#addToCart:hover,
.submitBtn:hover {
  background-color: #db5656;
}

.star-icon {
  font-size: 2rem;
}

.star-rating {
  margin-bottom: 4.8rem;
}

.num-ratings {
  font-size: 2rem;
  vertical-align: top;
}

/**********************/
/* CHECKOUT PAGE */
/**********************/

.products h1 {
  text-align: center;
}

/**********************/
/* SEARCH FIELD */
/**********************/

#form form {
  margin-top: 0.65rem;
  max-width: 300px;
  height: 40px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form input {
  padding: 1rem 1rem;
  border: 1px solid #ccc;
}

/**********************/
/* MODAL */
/**********************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content,
.modalContentReview,
.modal-content-newsletter {
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
}

.modal-content-newsletter {
  margin: 26.5% auto;
  width: 40%;
  text-align: center;
  padding-bottom: 4rem;
}

.modal-content {
  margin: 5% auto; /* 5% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

.close,
.closeModalNewsletterBtn,
.ModalCloseBtn,
.registerCloseBtn {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**********************/
/* CART PAGE */
/**********************/

.items-indicator {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f35f5f;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  right: 4.2rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  display: none;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

#cart {
  padding: 5.4rem 0 9.6rem 0;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 5rem;
}

#cart table td:nth-child(1) {
  width: 10rem;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 10rem;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 40rem;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 10rem;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 7rem;
  padding: 1rem 0.5rem 1rem 1.5rem;
}

#cart table thead {
  border: 1px solid #2e2901;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.8rem 0;
}

#cart table tbody tr td {
  padding-top: 1.5rem;
}

#cart table tbody td {
  font-size: 1.4rem;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#subtotal h3 {
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
}

.remove-product {
  font-size: 2rem;
  cursor: pointer;
}

#subtotal {
  width: 50%;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  padding: 3rem;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 1.4rem;
}

/**********************/
/* ABOUT PAGE */
/**********************/

.about,
.contact,
.thank-you {
  padding: 9.6rem 0;
}

.info-text-box {
  font-size: 1.8rem;
  line-height: 1.6;
}

.info-text {
  margin-bottom: 1.6rem;
}

.info-text-box h2 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}

/**********************/
/* CONTACT PAGE */
/**********************/

.info-img-box img,
.img-map {
  width: 100%;
}

form.form-inquiry,
form.form-checkout {
  margin-bottom: 9.6rem;
}

form fieldset {
  margin: 0 0 3rem 0;
  border: 1px solid #e9ecef;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 9px;
  padding: 1rem 2rem 3rem 2rem;
}

form legend h2 {
  color: #333333;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 2.4rem;
}

form label.top {
  display: block;
  padding-top: 2rem;
  color: #333333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
  margin-top: 1rem;
  display: block;
  font-size: 1.8rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.75rem;
  color: #333333;
  width: 100%;
  max-width: 60rem;
  background-color: rgba(154, 149, 149, 0.1);
}

form label.top textarea {
  padding: 1.25rem;
  max-width: 60rem;
}

form input.submitBtn {
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 9px;
  background-color: #f35f5f;
}

form input.submitBtn:hover {
  background-color: #db5656;
  cursor: pointer;
}

form label.top input:required {
  border-left: 5px solid #f35f5f;
}

form label.top input:required:valid {
  border-left: 5px solid #5d9d72;
}

.form-control small {
  display: none;
  font-size: 1.6rem;
}

.form-control.error small {
  display: block;
  color: #f35f5f;
}

.thankyou-message {
  text-align: center;
}

/**********************/
/* CHECKOUT PAGE */
/**********************/

.checkout-subtotal {
  margin-top: 2rem;
}

.checkout-subtotal,
.checkout-total,
.checkout-shipping,
.checkout-tax {
  display: flex;
  justify-content: space-between;
}

.checkout-subtotal p,
.checkout-total p,
.checkout-shipping,
.checkout-tax {
  font-size: 1.8rem;
}

/* Modal */
.wrapper-register {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 420px;
  width: 100%;
  border-radius: 2px;
  padding: 20px 30px 70px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 30;
}

.wrapper-register.active .form-register.register {
  bottom: 0%;
  border-radius: 16%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form-register header,
.freebie header {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;
}

.wrapper-register.active .form-register.register header {
  opacity: 1;
}

.wrapper-register.active .freebie header {
  opacity: 0;
}

.wrapper-register form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reg-form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

input.registerBtn {
  margin-top: 15px;
  background-color: #f35f5f;
  color: #fff;
  padding: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input.registerBtn:hover {
  background-color: #db5656;
}

.form-register.register {
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.form-register.register input {
  border: 1px solid #aaa;
}

.form-register.register input:focus {
  box-shadow: 0 1px 0 #ddd;
}

.form-register.register header {
  color: #333;
  opacity: 0.6;
}

.header-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.reg-thankyou {
  font-size: 1.8rem;
  line-height: 1.5;
}

.freebie {
  text-align: center;
}

.people {
  margin-bottom: 2.4rem;
}

/**********************/
/* PRODUCT PAGE */
/**********************/

.product-recommend {
  text-align: center;
  margin-bottom: 9.6rem;
}
