/* 
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
} */
/* body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
} */
/* img {
  max-width: 100%;
} */
/* header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
} */
/* .logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
} */
/* .logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
} */
/* .hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
} */
/* .logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
} */
/* utility classes */
/* .highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
} */
/* End utility classes */

/* Cart icon styles */
/* .cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
} */

/* End cart icon styles */

/* .mission {
  padding: 0 0.5em;
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
} */
/* Styles for product lists */
/* .product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
} */
/* End product list card */

/* .product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
} */

/* Start cart list card styles */
/* .cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font); */
/* max-height: 120px; */
/* align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
} */

/*  GB Fashionista*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/
.heading-primary {
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  font-family: "Belleza", sans-serif;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--visited:visited {
  background-color: #f35f5f;
}

.btn--full:hover,
.btn--visited:active {
  background-color: #db5656;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container-md,
.container-sm {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-md {
  max-width: 120rem;
}

.container-sm {
  max-width: 100rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/**********************/
/* HEADER */
/**********************/
.logo {
  height: 2.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edebe7;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/**********************/
/* NAVIGATION */
/**********************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #db5656;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #f35f5f;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #db5656;
}

/**********************/
/* HERO SECTION */
/**********************/

.section-hero {
  background-color: #edebe7;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**********************/
/* FEATURED PRODUCTS */
/**********************/
.product-img {
  width: 100%;
  margin-bottom: 2rem;
}

.featured-products,
.products-category {
  padding: 9.6rem 0;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.product-card {
  padding: 2rem;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card a {
  text-decoration: none;
}

.product-card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card__name,
.card__category {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.card__category {
  text-align: center;
}

.product-card__price {
  font-size: 1.5rem;
}

/**********************/
/* NEWSLETTER */
/**********************/

.newsletter {
  background-color: #170a01;
  padding: 9.6rem 0;
}

.signup-details {
  color: #fff;
  line-height: 2;
}

.newsletterForm {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem 2rem;
  width: 70%;
}

::placeholder {
  color: #333;
  font-size: 12px;
  opacity: 0.6;
}

.newsletterBtn {
  padding: 1.25rem 2rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 3px;
  background-color: #f35f5f;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.newsletterBtn:hover {
  background-color: #db5656;
}

.signup-details h2 {
  font-size: 2.4rem;
}

.signup-details p {
  font-size: 1.6rem;
}
