<div class="container-md grid grid--footer">
  <div class="logo-col">
    <a href="/" class="footer-logo">
      <img
        class="logo"
        src="images/gb-fashionista-transp.png"
        alt="GB Fashionista logo"
      />
    </a>
    <ul class="social-links">
      <li>
        <a class="footer-link" href="#"
          ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
        ></a>
      </li>
      <li>
        <a class="footer-link" href="#"
          ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
        ></a>
      </li>
      <li>
        <a class="footer-link" href="#"
          ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
        ></a>
      </li>
    </ul>
    <p class="copyright">
      Copyright &copy; 2023 by GB Fashionista, Inc. All rights reserved.
    </p>
  </div>

  <div class="address-col">
    <p class="footer-heading">Contact us</p>
    <address class="contacts">
      <p class="address">4011 W Sunset Blvd, Los Angeles, 90029</p>
      <p>
        <a class="footer-link" href="tel:323-669-1601">323-669-1601</a><br /><a
          class="footer-link"
          href="mailto:info@gb-fashionista.com"
          >info@gb-fashionista.com</a
        >
      </p>
    </address>
  </div>
  <nav class="nav-col">
    <p class="footer-heading">About</p>
    <ul class="footer-nav">
      <li><a class="footer-link" href="#">About us</a></li>
      <li><a class="footer-link" href="#">Privacy</a></li>
      <li><a class="footer-link" href="#">Terms</a></li>
    </ul>
  </nav>
  <nav class="nav-col">
    <p class="footer-heading">My Account</p>
    <ul class="footer-nav">
      <li><a class="footer-link" href="#">Register</a></li>
      <li><a class="footer-link" href="#">iOS app</a></li>
      <li><a class="footer-link" href="#">Android app</a></li>
      <!-- <li><img class="visa" src="images/visa.png" alt="" /></li> -->
    </ul>
  </nav>
</div>
