<a href="/">
  <img
    class="logo"
    src="../images/gb-fashionista-logo.png"
    alt="GB Fashionista logo"
  />
</a>

<nav class="main-nav">
  <ul class="main-nav-list">
    <li><a class="main-nav-link" href="/about/">About</a></li>
    <li><a class="main-nav-link" href="/product-list/">Shop</a></li>
    <li><a class="main-nav-link" href="/contact/">Contact</a></li>
    <li><a class="main-nav-link nav-cta" href="#">Register</a></li>
  </ul>
</nav>
<div class="cart">
  <a href="../cart/"><ion-icon class="cart-icon" name="cart"></ion-icon></a>
</div>
