<a href="/">
  <img
    class="logo"
    src="../images/gb-fashionista-logo.png"
    alt="GB Fashionista logo"
  />
</a>

<div id="form">
  <form role="search">
    <input
      type="text"
      id="filterInput"
      name="q"
      placeholder="Search..."
      aria-label="Search through site content"
      spellcheck="false"
      data-ms-editor="true"
    />
  </form>
</div>

<nav class="main-nav">
  <ul class="main-nav-list">
    <li><a class="main-nav-link" href="/about/">About</a></li>
    <li><a class="main-nav-link" href="/product-list/">Shop</a></li>
    <li><a class="main-nav-link" href="/contact/">Contact</a></li>
    <li><a class="main-nav-link nav-cta" href="#">Register</a></li>
  </ul>
</nav>
<button class="btn-mobile-nav">
  <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
  <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
</button>

<div class="cart">
  <a href="../cart/"><ion-icon class="cart-icon" name="cart"></ion-icon></a>
  <div class="items-indicator"></div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <section class="products-header">
      <div
        class="product-list product-fullList container-md grid grid--4-cols"
      ></div>
      <!-- <ul id="all-products"></ul> -->
    </section>
  </div>
</div>

<script src="../../../js/navigation.js" type="module"></script>
